<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
    </style>
</head>
<body>

    <h1>Contact List</h1>

<table id="customers">
  <tr>
    <th>Name</th>
    <th>Job Title</th>
    <th>Subject</th>
    <th>Message</th>

  </tr>

  {% for contact in contacts_list %}
  <tr>
    <td>{{contact.name}}</td>
    <td>{{contact.email}}</td>
    <td>{{contact.subject}}</td>
    <td>{{contact.message}}</td>

  </tr>
  {% endfor %}
 
</table>



</body>
</html>